<div class="layout-footer flex items-center">
    <div class="flex items-center">
        <div class="image-background-column">
        </div>
        <span class="ml-2"></span>
    </div>

    <small class="font-medium ml-5">Agencia Nacional de Hidrocarburos | Av. 20 de Octubre Nro. 2685 | NIT: 120919027 | La Paz, Bolivia
    Linea Gratuita: 800-10-6006 | Tel: (591)-2-2434000 | Fax: (591)-2-2434007 | Email: contacto anh.gob.bo
    Desarrollo y mantenimiento: Dirección de Tecnologías de Información y Comunicación
    AGENCIA NACIONAL DE HIDROCARBUROS © 2014</small>
</div>  