.image-background-column {
 
    background-image: url('../../../../assets/img/anh_logo_colorcolor.png'); 
 
    background-image: url('../assets/anh_logo_colorcolor.png'); 
    width: 120px; 
    height: 120px; 

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    //height: 100%;
}

.image-background-column-1 {
 
    background-image: url('../../../../assets/img/Hydro_titulo_InstaladorasdeGn\ \(1\).png'); 
    //background-image: url('../assets/anh_logo_colorcolor.png'); 
    width: 120px; 
    height: 120px; 

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    //height: 100%;
}